
.omega-btn-primary{

      background-color: skyblue;
      width: 150px;
      height: 50px;
      padding: 10px;
      color: white;

}

/*
@media screen and (max-width: 576px) {
    
       .large{

            display: none;


       }

      

}


@media screen and (min-width:577px) {
    
    .mobile{

         display: none ;


    }


}*/


.mobile{

      position: relative;
      left: 20%; 

}


.background{

      background-color: #f4fafd;
 

}

.padding{

    padding: 50px;

}
